#main {
    margin: 0px;
    padding: 0px;
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row;
            flex-flow: row;
}

#main > .board-container {
    padding: 20px 10px;
    background: transparent;
    -webkit-flex: 3 1 60%;
            flex: 3 1 60%;
    -webkit-order: 2;
            order: 2;
    display: -webkit-flex;
    display:         flex;
    justify-content: center;
}

#main > .stats.panel {
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    -webkit-flex: 1 6 20%;
            flex: 1 6 20%;
    -webkit-order: 1;
            order: 1;
}

#main > .tools.panel {
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    -webkit-flex: 1 6 20%;
            flex: 1 6 20%;
    -webkit-order: 3;
            order: 3;
}

header, footer {
    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 100px;
    border: 1px solid #eebb55;
}

.panel {
    display: -webkit-flex;
    display:         flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 15px;
}

.panel > .header {
    margin: -5px -5px 5px -5px;
    padding: 5px;
    background-color: #424242;
    font-size: 1.5em;
    font-family: sans-serif;
}

.panel label {
    display: block;
    margin: 15px 0 2px 5px;
    text-align: left;
}

.panel button {
    margin-top: 2px;
}
/* Too narrow to support three columns */
@media all and (max-width: 640px) {

    #main, #page {
        -webkit-flex-flow: column;
                flex-direction: column;
    }

    #main > .board-container, #main > .stats.panel, #main > .tools.panel {
        -webkit-flex: 3 1 40%;
                flex: 3 1 40%;
        /* Return them to document order */
        -webkit-order: 0;
                order: 0;
    }

    #main > .stats.panel, #main > .tools.panel, header, footer {
        min-height: 50px;
        max-height: 50px;
    }
}

body {
  background: #202020;
  text-align: center;
  color: #b0b0b0;
  font-size: 14px;
}

.chessground.tiny {
  width: 225px;
  height: 225px;
}
.chessground.small {
  width: 300px;
  height: 300px;
}
.chessground.normal {
  width: 512px;
  height: 512px;
}
.chessground.large {
  width: 1024px;
  height: 1024px;
}
.cg-board-wrap svg {
  opacity: 0.6;
  overflow: hidden;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}
.cg-board-wrap svg * {
  transition: 0.35s;
}
